@using DiziveFilmHakkinda.Data
@inject IcerikDb _context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiziveFilmHakkinda</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a style="font-family: Indie Flower;" class="navbar-brand" asp-area="" asp-controller="IcerikKontrol" asp-action="Index"><img src="~/Images/movieicon.png" alt=""> Filmler ve Diziler</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="font-family: Indie Flower; font-weight: bolder;" class="nav-link text-dark" asp-area="" asp-controller="IcerikKontrol" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show">
                                <form class="form-inline">
                                    <a style="font-family: Indie Flower; font-weight: bolder; font-size: 16px;" class="btn btn-light text-dark dropdown-toggle btn-sm nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Kategoriler
                                    </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            @foreach (var item in _context.Kategoriler)
                                            {
                                                <a class="dropdown-item" asp-controller="IcerikKontrol" asp-action="KategorininIcerikleri" asp-route-id="@item.Id">@item.Adi</a>
                                            }
                                        </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a style="font-family: Indie Flower; font-weight: bolder;" class="nav-link text-dark" asp-area="" asp-controller="IcerikKontrol" asp-action="Privacy">Hukuksal</a>
                        </li>
                        @if (User.IsInRole("Admin")||User.IsInRole("Moderator")){
                            <form class="form-inline mr-5">
                                <div class="btn-group">
                                    <button style="font-family: Indie Flower; font-weight: bolder;" type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Yönetim Özel <i class="fas fa-user-lock"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a style="font-family: Indie Flower; font-weight: bolder;" class="dropdown-item" asp-action="Index" asp-controller="KategoriIslemleri">Kategori Yönetimi <i class="fas fa-stream"></i></a>
                                        <a style="font-family: Indie Flower; font-weight: bolder;" class="dropdown-item" asp-action="KategoriYonetimiSpa" asp-controller="KategoriIslemleri">Kategori Yönetimi Spa <i class="fas fa-sliders-h"></i></a>
                                        <a style="font-family: Indie Flower; font-weight: bolder;" class="dropdown-item" asp-controller="IcerikKontrol" asp-action="AdminSayfa">Admin AnaSayfa <i class="fas fa-user-shield"></i></a>
                                        <a style="font-family: Indie Flower; font-weight: bolder;" class="dropdown-item" asp-action="Index" asp-controller="Kullanici">Kullanıcı Yönetimi <i class="fas fa-users-cog"></i></a>                                        
                                    </div>
                                </div>
                            </form>
                        }
                        <li style="margin-left: auto;">
                            <form class="form-inline">
                                @using (Html.BeginForm())
                                {
                                    @Html.Editor("aranan");
                                    <input type="submit" value="Ara" class="btn btn-dark btn-sm mx-1"/>
                                } 
                            </form>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial"/>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if(@TempData["mesaj"]!=null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @TempData["mesaj"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="background-color: white;">
        <div class="container">
            &copy; 2021 - DiziveFilmHakkinda - <a style="font-family: Indie Flower; font-weight: bolder;" asp-area="" asp-controller="IcerikKontrol" asp-action="Privacy">Hukuksal</a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2f9844645e.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>